<footer>
	<div class=" container-fluid">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<%= link_to image_tag('logo.png', :size => '250x100'), root_path %>
			</div>
			<div class="col-xs-4">
				<div class="dropdown pull-right">
					<!-- 切替ボタンの設定 -->
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">問い合わせ<span class="caret"></span>
					</button>
					<!-- ドロップメニューの設定 -->
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><%= link_to "お問い合せ", "#" %></li> <!--未実装の為リンクなし -->
                      <li><%= link_to "退会", unsubscribe_path %></li>
                    </ul>
				</div><!-- /.dropdown -->
			</div>
		</div>
	</div>
</footer>