<meta charset="utf-8">
<footer>
	<div class=" container">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<h3>hoge</h3>
				<h3>hoge</h3>
			</div>
			<div class="col-xs-4">
				<div class="dropdown">
					<!-- 切替ボタンの設定 -->
					<button type="button" class="btn btn-default dropdown-taggle" id="dropdownMenuButton" data-taggle="dropdown" aria-haspopup="true" aria-expanded="false">問い合わせ<span class="caret"></span>
					</button>
					<!-- ドロップメニューの設定 -->
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><%= link_to "お問い合せ", "#" %></li>
                      <li><%= link_to "退会", "#" %></li>
                    </ul>
				</div><!-- /.dropdown -->
			</div>
		</div>
	</div>
</footer>