<footer>
	<div class=" container-fluid">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<%= link_to image_tag('logo.png', :size => '250x100'), root_path %>
			</div>
			<div class="col-xs-4"></div>
		</div>
	</div>
</footer>