<meta charset=utf-8>
<header>
	<div class="container border-bottom">
		<div class="row col-xs-2 d-inline-block">
				<h2>hoge</h2>     <!-- アイコン表示調べる -->
				<h2>hoge</h2>
			</div>
			<div class="row col-xs-6 d-inline-block"></div>
			<div class="row col-xs-4 d-inline-block">
				<div class="col-xs-4">
					<%= link_to "新規登録", new_end_user_registration_path %>   <!-- パスを直す -->
				</div>
				<div class="col-xs-4">
					<%= link_to "ログイン", new_end_user_session_path %>  <!-- パスを直す -->
				</div>
			</div>
	</div>
</header><!-- /header -->