
<header style="height:150px;padding-top: 10px;">
	<div class="container-fluid border-bottom">
		<div class="row">
			<%= link_to image_tag('logo.png', :size => '250x100'), admin_root_path %> <!-- ロゴ表示 -->
		</div>
	</div>
</header><!-- /header -->