<div class="col-12">
    <table class="table">
        <% @arrival_histories.each do |arrival_history| %>
            <tr>
                <td class="cd_name">
                    商品名<%= cart_item.product.cd_name%>
                </td>
                <td>
                    <p>入荷日時</p>
                </td>
                <td>
                    <p>個数</p>個
                </td>
            </tr>
    </table>
</div>
