<!-- ヘッダー  -->
<%= render "shared/header_user_after_login" %>

<div class="thankyou">
  <p class="thanks-message">ご注文ありがとうございます！</p>
  <p class="thanks-message">商品到着まで今しばらくお待ちください!!</p>
</div>
<%= link_to "TOPへ戻る" ,root_path %>
<%= link_to "マイページへ", "/users/1" %>

<!-- フッター -->
<%= render "shared/footer_user_after_login" %>
