/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* エンドユーザ側 */

.login_contents {
  margin-bottom: 50px;
}

.signup_contents_name {
  margin-bottom: 10px;
}

.signup_contents {
  margin-bottom: 20px;
}

.mymage-nav {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  margin: 10px auto 30px;
  height: 30px;
  line-height: 30px;
}

/* 管理者側 */
.administrator_login_contents {
  margin-bottom: 20px;
}

/* 共通 */
.form_border {
  border: 2px solid black;
  padding: 6px 60px;
}

.form_border_long {
  border: 2px solid black;
  padding: 6px 120px;
}

.form_inlineblock {
  display: inline-block;
  margin-right: 50px;
}

.mypage_content_name {
  margin-bottom: 25px;
}

.mypage_content {
  margin-bottom: 40px;
}

.form_text {
  text-align: center;
}
/* 検索ボックス */
.searchbox{
  width: 200px;
}
.admin_order_history{
  width:200px;
}

.table-borderless {
  tbody, tr, td, th {
    border-top: none !important;
  }
}

/* フッター */


.test{
  border-bottom: 1px solid #DCDCDC;
}
.test:last-child{
  border-bottom: none;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

