// Place all the styles related to the arrival_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.aaa {
	border-top: solid;
	height: 150px;
	padding: 5px 50px;
}

.info1 h4 {
	margin-top: 30px;
	margin-bottom: 30px;
}


.info2 li {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 28px;
	list-style: none;
}

.info3 li {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 28px;
	list-style: none;
}