// Place all the styles related to the order_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* order_histories/new */
.new_title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
}

.address_detail {
    padding: 2em 2em;
    margin: 2em 5em;
    font-weight: normal;
    border: solid 1px #000000;
}
.address_detail p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}


.form-control {
  width: 50%;
}

.cart-contents {
  padding: 40px 0;
  border-bottom: solid 4px gray;
}

.cart-item-headline {
  font-size: 20px;
  padding: 20px 0;
}

.cart-item-number-box {
  display: inline-block;
  padding: 10px 20px;
}

.cart-item-number {
  font-size: 20px;
  width: 100px;
  padding: 5px;
  text-align: center;
  border: solid 1px #000000;
  margin: 20px 0;
}

.cart-item-price-box {
  display: inline-block;
}

.address_input {
  padding: 10px 50px;
  font-size: 20px;
}

.new-address {
  border: solid 1px #000000;
  margin: 10px 20px;
}

.pay_method {
  padding: 20px 40px;
}




/* order_histories/thanks */
.thanks-message {
  text-align: center;
  font-size:20px;
}

.thankyou {
  padding: 80px;
}

/* order_histories/index */
.order_history_head {
  border-bottom: solid 1px gray;
  margin: 30px 0;
}

.order_detail_box {
  padding: 30px 20px 0 0;
}

.index_title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}
